:root {
  --blue: #012052;
  --white: #fff;
  --teal: #22c9fc;
}

* {
  justify-content: center;
  text-align: center;

}

html {
  font-size: 62.5%;
  justify-content: center;
  text-align: center;
}

header,
footer {
  background-color: var(--blue);
  padding: 2% 0;
  text-align: center;
}

footer {
  height: 100px;
}

nav {
  background-color: var(--blue);
  padding-bottom: 3%;
}

nav li {
  padding: 2%;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav a {
  display: flex;
  background-color: var(--teal);
  color: var(--blue);
  padding: 2%;
  border-radius: 2rem;
  text-align: center;
  text-decoration: none;
}



.body {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--teal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--teal);
  font-weight: 700;
  line-height: 1.1;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 4rem;
  color: var(--white);
  padding: 3% 0;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

main {
  background-color: var(--white);
  color: var(--blue);
}

.about-me,
.projects,
.contact-me {
  padding: 4%;
  font-size: 1.5;
}

.about-me img {
  width: 50%;
  border-radius: 50%;
  padding: 3%;
}

.about-me p, .projects p, .contact-info {
  padding: 2%;
  line-height: 1.5;
  font-size: 1.5rem;
}

.card-box {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
}

.card-slide,
.hero-project {
  flex-direction: row;
  justify-content: center;
  margin: 2%;
  background: var(--white);
  border: 3px solid var(--blue);
  color: var(--blue);
  padding: 3%;
  font-size: 2rem;
  text-align: center;
  width: 43%;
  border-radius: 10%;
  opacity: 50%;
  background-image: linear-gradient(
    rgba(114, 209, 247, 0.3) 0%,
    rgba(0, 4, 59, 0.6) 100%);
  );
  )
}

.hero-project {
  width: 90%;
  min-height: 300px;
}

.hero-project header, .card-slide header {
  position: relative;
  margin-top: 50%;
  font-size: 2.5rem;
  border: var(--white) solid 1px;
  color: var(--white);
  font-weight: bold;
  border-radius: 10px;
}

.hero-project:hover, .card-slide:hover {
  opacity: 100%;
}

.contact-info {
  margin: 3%;
}






@media screen and (min-width: 768px) {
  .about-me img {
    width: 25%;
  }
}

@media screen and (min-width: 992px) {
  nav {
    display: inline;
  }

  nav li {
   ;
    width: 15%;
  }
}
