:root {
  --blue: #012052;
  --white: #fff;
  --teal: rgb(34, 201, 252);
}

* {
  justify-content: center;
}

html {
  font-size: 62.5%;
  justify-content: center;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--white);
  font-weight: 700;
  line-height: 1.1;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 4rem;
  padding-bottom: 2rem;
}

h2 {
  font-size: 3.5rem;
  color: var(--teal);
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
  padding-top: 3rem;
}

p {
  font-size: 1.5rem;
  margin: 2rem;
  padding: 0 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
}

.body {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--teal);
}

main {
  background-color: var(--white);
  padding-top: 3rem;
}

header,
footer, .title {
  background-color: var(--blue);
  padding-top: 1rem;
  text-align: center;
}

header {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  z-index: 99;
}

footer {
  height: 100px;
  color: var(--white);
}

nav {
  background-color: var(--blue);
  padding: 2rem 0;
}

nav a {
  background-color: var(--teal);
  color: var(--blue);
  padding: 0.5rem;
  border-radius: 2rem;
  text-align: center;
  text-decoration: none;
}

nav a:hover, nav a:active {
  background-color: var(--white);
}

li {
  display: inline-block;
  padding: 1rem 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

#about-me,
#projects,
#contact-me {
  padding-bottom: 3rem;
  font-size: 1.5rem;
}

.about-me img {
  width: 30rem;
  border-radius: 50%;
  margin: 3rem;
}

.about-me p {
  text-align: justify;
}

.card-box {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
}

a.card-slide,
.hero-project {
  position: relative;
  flex-direction: row;
  justify-content: center;
  min-height: 200px;
  margin: 2%;
  border: 3px solid var(--blue);
  color: var(--blue);
  padding: 3%;
  font-size: 2rem;
  text-align: center;
  border-radius: 10%;
  width: 43%;
  opacity: 80%;
}
 
 
 /* Saving for potential future use 

    background-image: linear-gradient(
    rgba(114, 209, 247, 0.3) 0%,
    rgba(0, 4, 59, 0.6) 100%
    );
} */

.hero-project {
  width: 90%;
  min-height: 300px;
  background-image: url(../images/cyber-security-3374252_1920.jpg);
}

.hero-project header, .card-slide header {
  font-size: 1.3rem;
  padding: 1rem 0;
  color: var(--white);
  font-weight: bold;
  position: absolute;
  top: 100px;
  left: -0.25rem;
  width: 125px;
  height: 50px;
}

.hero-project header {
  top: 200px;
  width: 200px;
}

.hero-project, #img-1, #img-2, #img-3, #img-4, #img-5 {
  background-size: cover;
  background-position: center;
}

.hero-project:hover, .card-slide:hover {
  opacity: 100%;
  transition: all 0.5s ease-out;
}

.contact-info {
  padding-bottom: 4rem;
  text-align: center;
}

#img-1 {
  background-image: url(../images/analytics-3088958_1920.jpg);
}

#img-2 {
  background-image: url(../images/coding-1841550_1280.jpg);
}

#img-3 {
  background-image: url(../images/finger-2081169_1280.jpg);
}

#img-4 {
  background-image: url(../images/monitor-g0840db2e6_1280.jpg);
}

#img-5 {
  background-image: url(../images/code-1.png);
}

#img-6 {
  background-image: url(../images/binary-code-475664_640.jpg);
}

@media screen and (min-width: 768px) {
  nav a {
    margin: 1rem 2rem;
    padding: 1rem;
  }
  
  li {
    padding: 1rem 0 2rem 0;
    font-size: 2rem;
    }
    
  .about-me {
    padding-bottom: 4rem;
  }
  
  .about-me img {
    width: 200px;
    float: left;
    margin: 0 4rem;
  }

  .about-me p {
    text-align: justify;
  }

  a.card-slide {
    width: 43%;
  }
}

@media screen and (min-width: 992px) {
  .about-me img {
    margin: 0 6rem;
  }
  
  a.card-slide {
    width: 27.5%;
  }
}